mat-grid-tile {
  background: lightblue;
 gap: 2px;

}
.example-card {
  height:160px;
  width: 320px;
}
.card-container{
  justify-content: center;
  display: flex;
  gap: 16px;

  flex-wrap: wrap;
}
.card-item {
  flex: 1 1 calc(25% - 16px); /* 4 cards per row, with 16px gap between them */
  box-sizing: border-box;
}

.box{
  margin-top: 50px;

}

.btn{
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}
